* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}

body {
  background-color: #0d1118;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.02rem;
}

html {
  font-size: 62.2%;
}

ul {
  list-style: none;
  display: block;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
}

button {
  border: solid 1px #fff;
  background-color: #fff;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  line-height: 20px;
  padding: 12px 24px;
  color: #3f3d56;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s all;
  &:hover {
    background-color: transparent;
    border: solid 1px #fff;
    color: #fff;
  }
}
