header {
  border-bottom: 1px solid rgba(204, 204, 204, 0.2);
  padding: 20px 0;
  .container {
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      img {
        width: 120px;
      }
    }
    nav {
      ul {
        display: flex;
        li {
          margin-left: 32px;
          &:first-child {
            margin-left: 0;
          }
          a {
            transition: 0.3s all;
            &:hover {
              color: #005fd4;
            }
          }
        }
      }
    }
  }
}
