header {
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);
  padding: 24px 0;
  position: sticky;
  top: 0;
  background-color: rgba(13, 17, 24, 0.95);
  z-index: 99;
  @media screen and (max-width: 768px) {
    margin-bottom: 12rem;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      img {
        width: 140px;
      }
    }
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 58px;
      ul {
        display: flex;
        @media screen and (max-width: 768px) {
          display: none;
        }
        li {
          margin-left: 32px;
          &:first-child {
            margin-left: 0;
          }
          a {
            transition: 0.3s all;
            font-size: 1.6rem;
            color: #ccc;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
