.s-hero {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info-hero {
      width: 100%;
      max-width: 531px;
      h1 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 7.2rem;
        line-height: 8rem;
        letter-spacing: -0.04em;
        color: #ffffff;
        margin-bottom: 2.4rem;
        span {
          color: #4c6ef5;
          display: block;
        }
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: #cbd5e1;
        margin-bottom: 3.2rem;
        span {
          font-weight: 700;
          color: #fff;
          text-decoration: underline;
          text-underline-offset: 0.2rem;
        }
      }
      .cta-hero {
        background-color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.8rem;
        border-radius: 0.5rem;
        border: solid 1px transparent;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 5.4rem;
        color: #3f3d56;
        transition: all 0.3s;
        &:hover {
          background-color: transparent;
          border: 1px solid #fff;
          color: #fff;
        }
        img {
          margin-left: 1rem;
        }
      }
    }
    .image-hero {
      height: 64rem;
      width: 100%;
      max-width: auto;
      background-color: #f5f5f5;
    }
  }
}

.s-about {
  padding-top: 8.7rem;
  padding-bottom: 12.5rem;
  .container {
    .about-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 6rem;
        line-height: 7.2rem;
        letter-spacing: -0.04em;
        span {
          color: #4c6ef5;
        }

        color: #ffffff;
      }
      .line {
        height: 1px;
        width: 100%;
        max-width: 74.1rem;
        background: rgba(255, 255, 255, 0.1);
        margin: 0 4.1rem;
      }
      .icon {
        width: 24px;
        height: 24px;
        display: block;
      }
    }
    .about-main {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 6rem;
      .text-left {
        width: 100%;
        max-width: 38.4rem;
        span {
          font-family: "Inter";
          font-weight: 700;
          font-size: 3.3rem;
          line-height: 4rem;
          letter-spacing: -0.02em;
          color: rgba(255, 255, 255, 0.8);
        }
        .icon {
          margin-top: 10.5rem;
        }
      }
      .text-right {
        width: 100%;
        max-width: 50.4rem;
        p {
          font-size: 1.8rem;
          line-height: 28px;
          color: #cbd5e1;
          &:not(:last-child) {
            margin-bottom: 1.6rem;
          }
        }
      }
    }
  }
}

.s-benefits {
  background-color: #f8f8fa;
  padding-top: 12.5rem;
  padding-bottom: 13.2rem;
  .container {
    display: flex;
    justify-content: space-between;
    h3 {
      max-width: 30.9rem;
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 4.8rem;
      line-height: 5.6rem;
      letter-spacing: -0.04em;
      color: #0d1118;
      span {
        color: #4c6ef5;
      }
    }
    .illustra-google {
      position: relative;
      width: 100%;
      max-width: 45.855rem;
      &:before {
        content: "";
        position: absolute;
        background-image: url("../img/arrow-google.svg");
        width: 8.152rem;
        height: 32.844rem;
        top: 8.5rem;
        left: -7.2rem;
      }
    }
    ul.benefits {
      width: 100%;
      max-width: 36.8rem;
      li {
        display: flex;
        flex-direction: column;
        &:not(:last-child) {
          margin-bottom: 3.2rem;
        }
        h4 {
          font-family: "Inter", sans-serif;
          font-weight: 700;
          font-size: 2.4rem;
          line-height: 4rem;
          letter-spacing: -0.02em;
          color: #0f172a;
          margin-bottom: 0.8rem;
          span {
            color: #9796a4;
            margin-right: 1.6rem;
          }
        }
        p {
          max-width: 32rem;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 2.4rem;
          color: #717483;
          margin-left: 5.6rem;
        }
      }
    }
  }
}
